@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4" style="padding-left: 0px !important; padding-right: 0px !important;">
            @Body
        </article>
    </main>
</div>
